body {
    background-color: rgb(29, 29, 44);
    font-family: 'Roboto', sans-serif;
}

.section-one {
    color: white;
    text-align: center;
    padding: 3rem;
}

.head-caption {
    text-transform: uppercase;
    letter-spacing: 2rem;
}

.team-title {
    font-size: 2.5rem;
}